@model IEnumerable<ApplicationDevelopment.ViewModel.UsersInRole>
@{
    ViewBag.Title = "Index";
}
@if (Request.IsAuthenticated && User.IsInRole("Staff"))
{
    <p>
        <a onclick="window.location='@Url.Action("Register","Account")'" class="btn btn-danger">Create</a>
    </p>
}
<h2>Index</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var users in Model)
        {
            <tr>
                @if ((users.Role.Contains("Admin") || users.Role.Contains("Staff")) == false)
                {
                    <td>@users.UserName</td>
                    <td>@users.Name</td>
                    <td>@users.Email</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = users.UserId })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = users.UserId })</td>
                }
            </tr>
        }
</table>
