@model IEnumerable<ApplicationDevelopment.Models.TrainerCourse>
@{
    ViewBag.Title = "Assign Trainer Course";
}
<h2>Index TrainerCourse</h2>
@if (User.IsInRole("Staff")) 
{ 
<div class="form-group">
    @Html.ActionLink(
          "Assign Trainer To Courses",
          "Create",
          "TrainerCourses",
          null,
          new { @class = "btn btn-primary" }
          ) 
</div>
<table class="table">
    <tr>
        <th scope="row">@Html.DisplayNameFor(model => model.Trainer)</th>
        <th scope="row">@Html.DisplayNameFor(model => model.Course)</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Trainer.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.Course.Name)</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
        </tr>

    }
</table>
}
@if (User.IsInRole("Trainer"))
{
<table class="table">
    <tr>
        <th scope="row">@Html.DisplayNameFor(model => model.Course)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@Html.DisplayFor(modelItem=>item.Course.Name)</td>

        </tr>

    }
</table>
}

