﻿﻿@model IEnumerable<ApplicationDevelopment.Models.Course>

@{
    ViewBag.Title = "Index";
 }

<h2>Course</h2>
@if (User.IsInRole("Staff"))
{
<div class="form-group">
    @Html.ActionLink(
          "Create a new Courses",
          "Create",
          "Courses",
          new { @class = "btn btn-primary" }
          )
</div>
}
<table class="table">
    <tr>
        <th>Name</th>
        <th>Category Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Details</th>


    </tr>

    @foreach (var course in Model)
    {
        <tr>
            <td>@course.Name</td>
            <td>@course.Category.Name</td>
            @if (User.IsInRole("Staff"))
            {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = course.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = course.Id })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = course.Id })
            </td>
            }
        </tr>
    }

</table>
@Html.ActionLink("Back to home", "Index", "Home")