@model List<ApplicationDevelopment.Models.ApplicationUser>
@{
    ViewBag.Title = "UsersWithRoles";
}
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{ 
    <p>
        <a onclick="window.location='@Url.Action("Register","Account")'" class="btn btn-danger">Create New</a>
    </p>
}
<h3>Account</h3>
<div class="panel-body">
    <table class="table table-striped" id="UsersWithRoles">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>   
                <th>Delete</th>   
                <th>ChangePass</th>
            </tr>
        </thead>
        @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = user.Id })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = user.Id })</td>
                    <td>@Html.ActionLink("ChangePass","ChangeUserPassword",new { id = user.Id })</td>
                                                                          
                </tr>
            }
    </table>
</div>

@section scripts{
    <script>
        $(function (){
            $('#UsersWithRoles').DataTable({
                "paging": true,
                "lengthchange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
                    });        
        });
    </script>
    }
@Html.ActionLink("Back","Index","Home")

